<%- presenter.mapped_identifiers.each_with_index do |id, idx| -%>
<tr>
  <% if idx.zero? %>
  <th rowspan="<%= presenter.mapped_identifiers.size %>">
    <%= t('blacklight.search.fields.identifier') %>
  </th>
  <% end %>
  <td>
    <% if id.prefix %>
      <span class="label label-default"><%= t("spot.identifiers.labels.#{id.prefix}") %></span>
    <% end %>
    <%= id.value %>
  </td>
</tr>
<%- end -%>
