<% if presenter.place.present? %>
<tr>
  <th><%= t('blacklight.search.fields.place') %></th>
  <td>
    <ul class="tabular">
    <%- presenter.place_merged.each do |(uri, label)| -%>
      <li class="attribute attribute-place">
        <%= link_to(
              %Q(#{label} <span class="fa fa-external-link"></span>).html_safe,
              uri,
              target: '_blank') %>
      </li>
    <%- end -%>
    </ul>
  </td>
</tr>
<% end %>
