<%# @todo what happens when an AudioVisual work doesn't have an embed_url? %>

<% if presenter.embed_url.present? %>
    <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    data-setup="{}"
    >
    <source src=<%=AudioVisualHelper.s3_url(file_set)%> type="video/mp4" />
    <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
    >
    </p>
    </video>

    <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
<% end %>