<% provide(:page_title) { error_t('page_title') } %>

<%= image_tag(banner_image, class: 'img-responsive') %>

<div class="page-title">
  <h1><%= error_t('header') %></h1>
</div>

<p class="lead">
  <%= error_t('body') %>
</p>
