<% presenter.abstract.each do |abstract| %>
  <%= simple_format(auto_link(abstract), class: 'lead') %>
<% end %>

<% presenter.description.each do |description| %>
  <%= simple_format(auto_link(description)) %>
<% end %>

<% unless presenter.related_resource.empty? %>
  <hr />
  <p><%= render_related_resource_language(presenter) %></p>
<% end %>
