## use a valid hostname for local development, default is "localhost"
# APPLICATION_FQDN=

## URL for Campus Authorization System (?) login
CAS_BASE_URL=

## Admin users to create during db:seed;
## use your @lafayette.edu address, separate with commas if creating multiples
DEV_ADMIN_USERS=

## Update to limit the resources used locally
# RAILS_MAX_THREADS=

## Params to test mailer functionality
# RAILS_SMTP_PASSWORD=
# RAILS_SMTP_URL=
# RAILS_SMTP_USER=