# Host name for the application. For CAS integration, this needs to be a recognized service.
APPLICATION_FQDN=
URL_HOST=https://$APPLICATION_FQDN

# Base URL for Campus Authorization System (?) login
CAS_BASE_URL=

# Admin users to create during db:seed;
# use your @lafayette.edu address, separate with commas if creating multiples
DEV_ADMIN_USERS=

