<div class="panel panel-default">
  <div class="panel-heading panel-heading-slim">
    <h5>Fixity Check</h5>
  </div>
  <div class="panel-body">
    <%= presenter.fixity_check_status %>
  </div>
</div>
