<div class="thumbnail file-set">
  <img src="<%= presenter.solr_document.thumbnail_path %>" />

  <div class="caption">
  <%= link_to hyrax.download_path(presenter), class: 'btn btn-success btn-block' do %>
    <span class="fa fa-download"></span>
    Download
  <% end %>
  </div>
</div>
