<% if presenter.featured_collections.present? %>
<div id="featured-collections" class="container-fluid">
  <h2><%= t('.title') %></h2>
  <% presenter.featured_collections.each do |collection| %>
    <%= render 'featured_collection_item', collection: collection %>
  <% end %>
</div>

<hr />
<% end %>
