<div class="row">
  <div class="col-sm-12 featured-collection"
       style="background-image: url(<%= collection_banner_file_path(collection) %>)">
    <div class="collection-info">
      <h3 class="collection-title"><%= collection.title.first %></h3>
      <% unless collection.abstract.empty? %>
      <p><%= collection.abstract.first %></p>
      <% end %>
      <%= link_to t('.collection.view'), [hyrax, collection], class: 'btn btn-primary' %>
    </div>
  </div>
</div>
