<div id="recent-items" class="container-fluid">
  <h2><%= t('.title') %></h2>
  <div class="row">
    <% presenter.recent_items.each do |item| %>
    <div class="col-sm-2 col-xs-6">
      <%= link_to item do %>
      <div class="recent-item" style="background-image: url(<%= item.thumbnail_path %>);">
        <span class="recent-item-title"><%= truncate(item.title.first, length: 50) %></span>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
