<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>File Set ID</th>
      <th>Expected Hash</th>
      <th>Checked At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% errors.each do |log| %>
    <tr>
      <td><%= log.file_set_id %></td>
      <td><code><%= log.expected_result %></code></td>
      <td><%= log.updated_at %></td>
      <td>
        <%= link_to('View FileSet', hyrax_file_set_path(log.file_set_id), class: 'btn btn-info') %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
