<% name = t('hyrax.product_name') %>

<% provide(:page_title) { name } %>
<% content_for(:navbar) {} %>

<div class="row-fluid">
  <div class="jumbotron col-sm-12">
    <h1><%= name %></h1>
    <p class="lead"><%= t('hyrax.product_description', name: name) %></p>

  </div>
</div>

<div class="row-fluid">
  <div class="col-sm-6">
  </div>
  <div class="panel panel-default col-sm-6">
    <div class="panel-body">
      <h2>Search the catalog</h2>
      <%= render 'catalog/search_form' %>
      <p>
        <%= link_to 'Browse the catalog', search_catalog_path(q: '') %>
        or use our <a href="#">advanced search</a>
      </p>
    </div>
  </div>
</div>
