<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">
      <p><%= t('hyrax.product_name') %> v<%= Hyrax::VERSION %></p>
      <p><%= link_to 'Library staff log-in', main_app.new_user_session_path %></p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <%= render 'shared/debug_info' if Rails.env.development? || ENV['SHOW_DEBUG_FOOTER'] %>
      </div>
    </div>
  </div>
</footer>
