<div>
    <audio controls="controls" class="audiojs" style="width:100%" controlsList="nodownload" preload="auto">
        <source src="<%= s3_url(file_set.id.to_s + '-access.mp3') %>" type="audio/mp3" />
        <%= t('hyrax.file_set.show.downloadable_content.audio_tag_not_supported') %>
    </audio>
</div>