<div>
    <audio controls="controls" class="audiojs" style="width:100%" controlsList="nodownload" preload="auto">
        <% @presenter.stored_derivatives.each_with_index do |derivative, index| %>
            <source src="<%= s3_url(derivative) %>" type="audio/mp3" />
        <% end %>    
        <%= t('hyrax.file_set.show.downloadable_content.audio_tag_not_supported') %>
    </audio>
</div>