<div>
    <script src="https://unpkg.com/video.js/dist/video.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/videojs-resolution-switcher@0.4.2"></script>
    <video id="video" controls class="video-js vjs-default-skin" style="width:100%" data-setup="{}" preload="auto">
        <source src="<%= s3_url(file_set.id.to_s + '-access-high.mp4') %>" type="video/mp4" label='HD' res='1080' />
        <source src="<%= s3_url(file_set.id.to_s + '-access-low.mp4') %>" type="video/mp4" label='SD' res='480'/>
        <%= t('hyrax.file_set.show.downloadable_content.video_tag_not_supported') %>
    </video>
    <script>
        videojs('video').videoJsResolutionSwitcher()
    </script>
</div>
