<div>
    <video controls="controls" class="video-js vjs-default-skin" style="width:100%" data-setup="{}" controlsList="nodownload" preload="auto">
    <source src="<%= s3_url(file_set.first_title) %>" type="video/mp4" />
    <%= t('hyrax.file_set.show.downloadable_content.video_tag_not_supported') %>
    </video>
</div>
