<% provide(:page_title) do %>
  About // <%= t('hyrax.product_name') %>
<% end %>

<h1>About <%= t('hyrax.product_name') %></h1>
<p>
  The Lafayette Digital Repository is an online archive designed to
  preserve and make accessible materials from Lafayette College, including
  administrative publications, scholarly work of Lafayette faculty, and
  digitized materials from the college's Special Collections and Archives.
</p>
