<% provide(:page_title) { t('.page_title', name: application_name) } %>

<div class="page-header">
  <h1><%= t('.header', name: application_name) %></h1>
</div>

<p>
  The Lafayette Digital Repository (LDR) is both an institutional repository and
  an access portal to Lafayette College Library’s Digital Collections. In
  accordance with the departmental <a href="https://dss.lafayette.edu/about/" target="_blank">mission</a>
  of Digital Scholarship Services, the LDR supports the activities of the
  College’s faculty, researchers, students, and community partners by preserving,
  curating, and disseminating digital resources.  The LDR enacts the Libraries’
  ongoing <a href="https://library.lafayette.edu/about/about-the-lafayette-libraries/" target="_blank">mission</a>
  of providing information resources and services to help Lafayette faculty
  and students attain their goals as teachers, scholars, and learners, through
  the creation and maintenance of accessible digital collections, scholarly
  output, and other digital materials that have enduring value for intellectual
  inquiry and documentation of College activities.
</p>

<h2>Faculty Scholarship and the LDR</h2>
<p>
  The Lafayette College faculty passed an open access resolution in April, 2011.
  Faculty are encouraged to share their research outputs via inclusion in the
  Lafayette Digital Repository. Flexible access and visibility controls are
  available for deposited content.
</p>

<h2>Why submit your content to the LDR?</h2>
<ul>
  <li>boost the search engine discoverability of your research</li>
  <li>provide persistent access to your research over time (i.e. prevent “link rot” in citations to your work)</li>
  <li>satisfy funding agency requirements for sharing and preserving research data and published findings</li>
  <li>preserve your work for the long term in an institutional environment</li>
</ul>
<p>
  Members of the faculty and administrative departments may use the LDR submission form to deposit
  articles to the Lafayette Digital Repository.  For other content types, such as presentations,
  research data, audiovisual materials, etc. please contact Nora Egloff, Digital Repository Librarian,
  at egloffn@lafayette.edu for more information.
</p>

<h2>Policies</h2>

<h3>Copyright and Use</h3>
<p>
  Please consult the <a href="https://dss.lafayette.edu/copyright-and-use/" target="_blank">Digital Scholarship Services Copyright & Use Guidelines</a>
  for information about using and sharing content in the LDR. If you have further
  questions, please contact us at dss@lafayette.edu.
</p>

<h3>Preservation Support Policy</h3>
<p>
  The Lafayette Digital Repository is committed to providing sustainable
  and trustworthy long-term access to content according to international
  best practices for digital preservation.
</p>
<p>
  All resources in the LDR are assigned unique persistent identifiers by
  the repository system, as well as persistent URLs through the Handle.net
  registry. Bit-level preservation of digital objects and metadata is
  managed through the generation of checksum hashes and performance of
  fixity checking at regular intervals.
</p>

<p>
  Beyond these initial preservation activities, the LDR team is developing
  a broader preservation policy and action plan.  Details about new services
  and preservation planning will be announced as they are approved by
  Library and College stakeholders.
</p>
