<% provide(:page_title) { t('spot.error.404.page_title', name: application_name) } %>

<%= image_tag('404-splash.jpg', class: 'img-responsive') %>

<div class="page-title">
  <h1>Not found</h1>
</div>

<p class="lead">
  The page you requested could not be found.
</p>
