<% provide(:page_title) { t('.page_title', name: application_name) } %>

<div class="page-header">
  <h1>Terms of Use</h1>
</div>

<h2>1. User's Acknowledgment and Acceptance of Terms</h2>
<p>
  <strong>1.1</strong> <em>Lafayette College</em> ("Lafayette") provides the <em>Lafayette Digital Repository</em> site and various related services (together as the "Site") subject to your compliance with all the terms, conditions, and notices contained or referenced in these <strong>Terms of Use</strong>. In addition, when using particular services or materials on this Site, users shall be subject to any posted guidelines or rules applicable to such services or materials that may contain terms and conditions in addition to those in these <strong>Terms of Use</strong>. All such guidelines or rules are incorporated by reference into these Terms of Use.
</p>

<p>
  <strong>1.2</strong> By using this Site, you agree to be bound by these <strong>Terms of Use</strong>. If you do not wish to be bound by these Terms of Use, please exit the Site now. Commencement of your use of the <em>Lafayette Digital Repository</em> is your agreement with these terms of use and is effective immediately.
</p>

<p>
  <strong>1.3</strong> Lafayette reserves the right to change these <strong>Terms of Use</strong> from time to time without notice. You acknowledge and agree that it is your responsibility to review this Site and these Terms of Use periodically and to be aware of any modifications. Your continued use of this Site after such modifications will constitute acknowledgment of the modified <strong>Terms of Use</strong> and agreement to abide and be bound by the modified <strong>Terms of Use</strong>.
</p>

<h2>2. Description of Services</h2>
<p>
  <strong>2.1</strong> This Site is an open access repository designed to promote the free dissemination of knowledge worldwide. Lafayette reserves the sole and exclusive right to either modify or discontinue the Site, including any features therein, and any time with or without notice to you. Any new features added to this Site shall also be subject to these <strong>Terms of Use</strong>.
</p>

<p>
  <strong>2.2</strong> Temporary interruptions of the services available through this Site may occur as normal events.
</p>

<p>
  <strong>2.3</strong> You understand and agree that the services available on this Site are provided "as is" and that Lafayette assumes no responsibility for the timeliness, deletion, misdelivery, or failure to store any user communications or submissions.
</p>

<h2>3. Copyright and Open Access Scholarship</h2>
<p>
  <strong>3.1</strong> The Site includes text, images, graphics, information, articles, and other content (collectively, the "Content") which may be protected by copyright, trademark and other laws.  These materials have been deposited and made available to enable teaching, research, and other educational activities.  The Site itself and most of the materials held as Content on the Site are protected by copyright and other laws.  Some of the Content on this site may include materials from older published works that have passed into the public domain under U.S. copyright law. Where rights information is known, it is included in the metadata associated with each item of Content. Unless otherwise specified in the metadata attached to an item of Content, you may use the Site and the Content only for research, educational, or related academic purposes.
</p>

<p>
  <strong>3.2</strong> Subject to other provisions of these <strong>Terms of Use</strong>, you may use, reproduce, distribute, and display Content for only the limited reasons listed below:
  <ol>
    <li>Personal Study</li>
    <li>Teaching</li>
    <li>Research and Scholarship</li>
    <li>Provision of value-added services (including full-text searching, cross-referencing, and citation extraction)</li>
  </ol>
</p>

<p>
  <strong>3.3</strong> Fair Use. Nothing in these <strong>Terms of Use</strong> is intended to restrict or limit you from making use of Posted Material that, in the absence of rights granted hereunder, would not infringe or violate anyone's copyright, trademark, or other rights.
</p>

<h2>4. Conduct on Site</h2>
<p>
  <strong>4.1</strong> All rights in the Site and the Content that are not expressly granted are reserved. You agree to use the Site and the Content only in ways that comply with copyright and all other applicable laws, as well as with these <strong>Terms of Use</strong>, and that do not infringe or violate anyone's rights. If you wish to make any use of the Content that requires authorization under copyright, trademark or other rights, you agree to obtain all necessary permissions.
</p>

<p>
  <strong>4.2</strong> All users of the Site shall refrain from any and all conduct that is:
  <ol>
    <li>Unlawful, threatening, abusive, harassing, defamatory, libelous, deceptive, fraudulent, invasive of another's privacy, tortious, contains explicit or graphic depictions or accounts of sexual acts, or otherwise violates our rules or policies; or </li>
    <li>Infringes on any patent, trademark, trade secret, copyright, right of publicity, or other proprietary right of any party.</li>
  </ol>
</p>

<p>
  <strong>4.3</strong> You may not use your account to breach security of the <em>Lafayette Digital Repository</em> or attempt to gain unauthorized access to Lafayette College’s network or server. You will not interfere with anyone else's use and enjoyment of the Site or other similar services. Users who violate systems or network security may incur criminal or civil liability.
</p>

<h2>5. Linked Information</h2>
<p>
  <strong>5.1</strong> This Site may link you to other sites on the Internet or otherwise include references to information, documents, software, materials, and/or services provided by other parties. These other sites and parties are not under our control, and you acknowledge that we are not responsible for the accuracy, copyright compliance, legality, decency, or any other aspect of the content of such sites.
</p>

<h2>6. Trademarks</h2>
<p>
  <strong>6.1</strong> Nothing in these <strong>Terms of Use</strong> or on the Site will be construed as granting you any right or license to use any trademarks, service marks or logos displayed on the Site. You agree not to use or register any name, logo or insignia of Lafayette or any of its subdivisions for any purpose except with our prior written consent in accordance with any restrictions required by Lafayette.
</p>

<h2>7. Communications and Takedown Requests</h2>
<p>
  <strong>7.1</strong> We respect the intellectual property rights of others. Pursuant to the Digital Millennium Copyright Act, 17 U.S.C. Sec. 512(c), if you believe your copyright has been violated on the Site, please notify us at <a href="mailto:dss@lafayette.edu">dss@lafayette.edu</a>.
</p>

<h2>8. Indemnity</h2>
<p>
  <strong>8.1</strong> You agree to indemnify and hold harmless Lafayette College, the <em>Lafayette Digital Repository</em>, and their officers, fellows, employees, and agents from and against all claims, actions, suits, damages, liabilities, and costs (including without limitation, reasonable legal fees) arising from or relating to your use of the Site, or any of the Content, or your failure to comply with any provision of these Terms of Use.
</p>

<h2>9. Limitation of Liability</h2>
<p>
  <strong>9.1</strong> Lafayette College makes this Site and the Content available free of charge. Your use of the Site and the Content is at your own sole risk. In no event shall we be liable to you, in contract, tort, or otherwise, for any direct, indirect, special, incidental, consequential, punitive, exemplary, or other damages of any kind arising out of or relating to the Site or the content, or your use of the Site or the Content is defective or we are negligent or otherwise at fault, and regardless whether we are advised of the possibility of such damages. The foregoing limitations shall apply to the fullest extent permitted by applicable law.
</p>

<h2>10. Indemnification</h2>
<p>
  <strong>10.1</strong> Upon a request by Lafayette, you agree to defend, indemnify, and hold us and our Affiliates harmless from all liabilities, claims, and expenses, including attorneys' fees, that arise from your use or misuse of this Site. We reserve the right, at our own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will cooperate with us in asserting any available defenses.
</p>

<h2>11. Use of Site and Storage of Material</h2>
<p>
  <strong>11.1</strong> The accounts of <em>Lafayette Digital Repository</em> users operate on shared resources. Excessive use or abuse of these shared network resources by one user may have a negative impact on all other users. Misuse of network resources in a manner that impairs network performance, including excessive consumption of CPU time, memory, disk space, and session time, is prohibited and may result in termination of your account or limitation of your activities.
</p>

<p>
  <strong>11.2</strong> This Site is not designated or intended to be used as a disaster recovery facility or as an emergency data storage facility. Although Lafayette takes reasonable precautions to preserve and protect the material you upload to the Site, you should not rely on the Site as your only storage facility. You should preserve backup copies of any digital data, information, or other materials that you have uploaded. You agree not to hold Lafayette liable for any damage to, any deletion of, or any failure to store your files, data, or Registration Data to the same extent as in section 9 of this agreement.
</p>

<h2>12. Termination of Use</h2>
<p>
  <strong>12.1</strong> You agree that we may, in our sole discretion, terminate or suspend your access to all or part of the Site with or without notice and for any reason, including, without limitation, breach of these <strong>Terms of Use</strong>. Any suspected fraudulent, abusive, or illegal activity may be grounds for terminating your relationship and may be referred to appropriate law enforcement authorities.
</p>
<p>
  <strong>12.2</strong> Upon termination or suspension, regardless of the reasons therefore, your right to use the services available on this Site immediately ceases, and you acknowledge and agree that we may immediately deactivate or delete your account and all related information and files in your account and/or bar any further access to such files or this Site. Lafayette shall not be liable to you or any third party for any claims or damages arising out of any termination or suspension or any other actions taken by Lafayette in connection therewith.
</p>

<h2>13. Governing Law</h2>
<p>
  <strong>13.1</strong> This Site (excluding any linked sites) is controlled by us from our offices within the Commonwealth of Pennsylvania, United States of America. It can be accessed from all fifty states, as well as from other countries around the world. As each of these places has laws that may differ from those of Pennsylvania, by accessing this Site, both of us agree that the statutes and laws of the Commonwealth of Pennsylvania. Each of us agrees and hereby submits to the exclusive personal jurisdiction and venue of the state courts located in the Commonwealth of Pennsylvania and the federal courts located in the Eastern District of Pennsylvania with respect to such matters.
</p>

<h2>14. Notices</h2>
<p>
  <strong>14.1</strong> All notices to a party shall be in writing and shall be made either via e-mail or conventional mail.
</p>

<h2>15. Entire Agreement</h2>
<p>
  <strong>15.1</strong> These terms and conditions constitute the entire agreement and understanding between each user of the <em>Lafayette Digital Repository</em> and Lafayette College concerning the subject matter hereof and supersedes all prior agreements and understandings of the parties with respect thereto. These <strong>Terms of Use</strong> may NOT be altered, supplemented, or amended by the use of any other document(s). Any attempt to alter, supplement, or amend this document or to enter an order for products or services which are subject to additional or altered terms and conditions shall be null and void, unless otherwise agreed to in a written agreement. To the extent that anything in or associated with this Site is in conflict or inconsistent with these <strong>Terms of Use</strong>, these <strong>Terms of Use</strong> shall take precedence.
</p>

<h2>16. Miscellaneous</h2>
<p>
  <strong>16.1</strong> Users may not assign rights and obligations under these <strong>Terms of Use</strong> to any third party, and any purported attempt to do so shall be null and void. However, Lafayette may freely assign our rights and obligations under these <strong>Terms of Use</strong>.
</p>

<p>
  <strong>16.2</strong> Users agree not to sell, resell, reproduce duplicate, copy or use for any commercial purpose.
</p>

<p>
  <strong>16.3</strong> If any part of these <strong>Terms of Use</strong> is held invalid or unenforceable, that portion shall be construed in a manner consistent with applicable law to reflect, as nearly as possible, the original intentions of the parties, and the remaining portions shall remain in full force and effect.
</p>

<p>
  <strong>16.4</strong> Any failure by us to enforce or exercise any provision of these <strong>Terms of Use</strong> or related rights shall not constitute a waiver of that right or provision.
</p>
