<div class="search-results-title-row">
  <h4 class="search-result-title"><%= link_to document.title_or_label, document %></h4>
  <%= document_access_display_alert(document) if display_info_alert?(document) %>
</div>
