<div class="search-results-title-row">
  <h4 class="search-result-title"><%= link_to document.title_or_label, document %></h4>
  <% if [:embargo_release_date, :lease_expiration_date].any? { |m| document.public_send(m).present? } %>
    <% template = document.embargo_release_date.present? ? 'embargo' : document.lease_expiration_date.present? ? 'lease' : nil %>
    <% unless template.nil? %>
    <div class="alert alert-warning" style="margin:0; padding:5px;">
      <%= t("spot.work.#{template}.catalog_result_html", date: document.embargo_release_date.strftime('%B %e, %Y')) %>
    </div>
    <% end %>
  <% end %>
</div>
