<%# copied from hyrax:/app/catalog/index.html.erb solely so we can change the page title %>
<% content_for(:page_title, t('spot.catalog.index.page_title', name: t('hyrax.product_name'))) %>

<% result_classes = any_facets? ? 'col-md-9 col-md-push-3 col-sm-8 col-sm-push-4' : 'col-sm-12' %>
<div id="content" class="<%= result_classes %>">
    <%= render 'search_results' %>
</div>

<% if any_facets? %>
<div id="sidebar" class="col-md-3 col-md-pull-9 col-sm-4 col-sm-pull-8">
  <%= render 'search_sidebar' %>
</div>
<% end %>
