<p>
  Library staff have reviewed your recent submission, <em><%= link_to(document_title, document_url) %></em>,
  and request the following changes:
</p>

<blockquote>
  <%= comment_html %>
</blockquote>

<p>
  Please make these edits and mark the <%= workflow_actions_title %> form as submitted.
</p>
