<p>
  Thank you for submitting your work to the Lafayette Digital Repository!
</p>

<p>
  We've notified your advisor<%= 's' unless advisor_names.count == 1 %> (<%= advisor_names.to_sentence %>)
  to request their review. We'll let you know if there are any changes requested.
</p>

<p>
  When your work is deposited, you will receive a confirmation email with a permanent URL you'll
  be able to use in citations going forward.
</p>
