// local flavor
$red-dark: #65001c;
$red-light: #910029;
$blue-dark: #1d5f83;
$blue-light: #4ea8d8;
$tan-dark: #a2998b;
$tan-light: #e8e6e2;

$white: #fff;
$black: #1e1e1e;

////
// bootstrap overrides
////

// navbar / masthead
$navbar-inverse-link-color: $white;
