///
//  Work-Show views
//  - global metadata for work views
//  - iiif viewer
//  - a/v playlists
///
#metadata .form-group label {
  font-weight: 700;
}

.panel-heading-slim {
  padding: 4px 15px;
  padding-left: 8px; // TODO: this is a magic number; what's the value in bootstrap?

  h5,
  h6 {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.rights-statement-icon {
  max-width: 120px;
}
.thumbnail.file-set {
  margin: auto;
  max-width: 250px;
}

// bootstrap is very specific in targeting table cells,
// so we also need to be that specific to override
.metadata-table > tbody > tr {
  > td,
  > th {
    vertical-align: middle;
  }
}
///
// styling the iiif viewer iframe to fill the space
///
.viewer-wrapper iframe {
  height: 100%;
  width: 100%;
}

///
//  a/v playlists
///
.play-list {
  .play-list-row {
    .track-title {
      .playlist-track {
        &:hover {
          text-decoration: underline;
        }
        color: #000;
        text-decoration: none;
      }
    }
    .track-title {
      .playlist-track {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .track-title.active-track {
      font-weight: bold;
    }
  }
}