///
//  Work-Show views
//  - global metadata for work views
//  - iiif viewer
//  - a/v playlists

//
.tab-content .form-group label {
  font-weight: bolder;
}

.panel-heading-slim {
  padding: 4px 15px;
  padding-left: 8px; // TODO: this is a magic number; what's the value in bootstrap?

  h5,
  h6 {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.rights-statement-icon {
  max-width: 120px;
}

.thumbnail.file-set {
  margin: auto;
  max-width: 250px;
}

.thumbnail.file-set.image {
  width: 100%;
  height: auto;
}

.thumbnail.collection-thumb img {
  max-width: 100%;
  height: auto;
  object-fit: contain
}

// bootstrap is very specific in targeting table cells,
// so we also need to be that specific to override
.metadata-table > tbody > tr {
  > td,
  > th {
    vertical-align: middle;
  }
}

.work-show dd {
  margin-left: 0;
}

.work-representative-media {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.attribute-identifier-with-label {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

// styling badges to default to the right on activity-log
.activity-log {
  float: right;
}

///
// styling the iiif viewer iframe to fill the space
///
.viewer-wrapper iframe {
  height: 100%;
  width: 100%;
}

///
//  a/v playlists
///
.play-list {
  .play-list-row {
    .track-title {
      .playlist-track {
        &:hover {
          text-decoration: underline;
        }
        color: #000;
        text-decoration: none;
      }
    }
    .track-title {
      .playlist-track {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .track-title.active-track {
      font-weight: bold;
    }
  }
}