@import "spot/variables";
@import "spot/navbar";
@import "spot/homepage";
@import "spot/multi-auth-controlled-vocab";

.rights-statement-icon {
  max-width: 120px;
}

.panel-heading-slim {
  padding: 4px 15px;
  padding-left: 8px; // TODO: this is a magic number; what's the value in bootstrap?

  h5,
  h6 {
    margin-bottom: 0;
    margin-top: 0;
  }
}

[role="main"] {
  margin-top: 1rem;
  padding-bottom: 10rem;
}

.dashboard > [role="main"] {
  margin-top: 0;
}

.thumbnail.file-set {
  margin: auto;
  max-width: 250px;
}

.ldr-logo img {
  height: 50px;
}

// bootstrap is very specific in targeting table cells,
// so we also need to be that specific to override
.metadata-table > tbody > tr {
  > td,
  > th {
    vertical-align: middle;
  }
}

// collection overrides
.hyc-banner {
  min-height: 200px;

  .hyc-title {
    background-color: $red-light;
    border-bottom-left-radius: inherit;
    border-top-right-radius: inherit;
    bottom: 0;
    position: absolute;
  }
}

// give some breathing room to collection items w/ thumbnails in search results
.search-result-wrapper {
  padding-bottom: 1rem;
}

.site-footer {
  background-color: $tan-light;
  height: 20rem;
}

// duplicating styles from #facet-panel-collapse
// otherwise the panel will not display
#admin-facet-panel-collapse {
  display: block !important;
  height: auto !important;
  overflow: visible !important;
  padding-bottom: 0;
}

select[multiple] {
  min-height: 15rem;
}
