  <div class="btn-group">
    <%= link_to presenter.download_url, class: 'btn btn-success', data: { turbolinks: false } do %>
      <span class="fa fa-download"></span>
      <%= t('spot.work.export.primary_file') %>
    <% end %>
  </div>
