<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Items
    </h3>
  </div>

  <div class="panel-body">
    <%# render 'items', presenter: @presenter %>
  </div>
</div>
