<div id="relationships" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Relationships
    </h3>
  </div>

  <div class="panel-body">
    <%# render 'relationships', presenter: @presenter %>
  </div>
</div>
