<%# render out all of the possible description fields here, instead of building a new
    template for a different model.

    @todo we could be iterating through each descriptive field and rendering the same
          template, rather than building it each time around a guard. but this gets
          the job done for now %>
<% if presenter.respond_to?(:abstract) && presenter.abstract.present? %>
<div class="panel panel-default">
  <div class="panel-heading panel-heading-slim">
    <h5>Abstract</h5>
  </div>
  <ul class="list-group">
    <% presenter.abstract.each do |abstract| %>
    <li class="list-group-item attribute-abstract"><%= abstract %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if presenter.respond_to?(:description) && presenter.description.present? %>
<div class="panel panel-default">
  <div class="panel-heading panel-heading-slim">
    <h5>Description</h5>
  </div>
  <ul class="list-group">
    <% presenter.description.each do |description| %>
    <li class="list-group-item attribute-description"><%= description %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if presenter.respond_to?(:inscription) && presenter.inscription.present? %>
<div class="panel panel-default">
  <div class="panel-heading panel-heading-slim">
    <h5>Inscription</h5>
  </div>
  <ul class="list-group">
    <% presenter.inscription.each do |inscription| %>
    <li class="list-group-item attribute-inscription"><%= inscription %></li>
    <% end %>
  </ul>
</div>
<% end %>
