<div class="panel panel-default">
  <div class="panel-heading panel-heading-slim">
    <h5>Abstract</h5>
  </div>
  <ul class="list-group">
    <li class="list-group-item"> a shorter description i guess</li>
    <li class="list-group-item">sometimes there are two ?</li>
  </ul>

  <div class="panel-heading panel-heading-slim">
    <h5>Description</h5>
  </div>
  <ul class="list-group">
    <li class="list-group-item"> cool cool cool right tight githt </li>
  </ul>
</div>
