<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div class="work-type" itemscope itemtype="http://schema.org/CreativeWork">
  <%= render 'metadata_and_viewer_panel', presenter: @presenter %>
  <%= render 'relationships', presenter: @presenter %>
  <%= render 'items_panel', presenter: @presenter %>
</div>

<script>
  // need to initialize the popovers in the metadata
  $(function () { $('[data-toggle="popover"]').popover() })
</script>
