<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div class="work-type" itemscope itemtype="http://schema.org/CreativeWork">
  <%= render 'metadata_and_viewer_panel', presenter: @presenter %>
  <%#
    need to pass a methodized version of polymorphic_url because it isn't
    accessible in a partial? i have no idea why.
  %>
  <%= render 'relationships', presenter: @presenter, polymorphic_url: method(:polymorphic_url) %>
  <%= render 'items_panel', presenter: @presenter %>
</div>

<script>
  // need to initialize the popovers in the metadata
  $(function () { $('[data-toggle="popover"]').popover() })
</script>
